.container_phrase{
    max-width: 320px;
    height: 160px;
    padding: 20px 10px;
    font-size: 20px;
    background-color: #ffffff;
    border: solid 2px #6894B4;
    border-radius: 77% 20%/10%;
    
}
.container_phrase > p{
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
    color:#727272;
    font-size: large;
}