.header__container{
    
    border: solid 1px  rgb(201, 201, 202);
    display: flex;
    justify-content: space-between;
    color: white;
    height: 70px;
    min-width: 200px;
    height: 80px;
    width: 100%;
    
}
.header__title{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(80, 78, 78);
}
.header__nav{
    
    min-width: 45%;

    
}
.header__ul{
    display: flex;
    
    justify-content: space-between;
}
.header__ul{
    border: solid 1px rgb(201, 201, 202);
    height: 100%;
    width: 100%;
    min-width: 20px;
    justify-content: center;
}
.bx-user{
    color: rgb(158, 157, 157);
    font-size: 25px;
    padding-top: 20px;
}

.bx-user-plus{
    font-size: 31px;
    color: rgb(158, 157, 157);
    padding-top: 17px;
}
.bx-cart{
    color: rgb(158, 157, 157);
    font-size: 25px;
    padding-top: 20px;
}
.bx-shopping-bag{
    color: rgb(158, 157, 157);
    font-size: 25px;
    padding-top: 20px;
}
