.login__container {
  max-width: 100%;

  display: flex;
  justify-content: center;
}
.form__login {
  margin: 30px 7px 40px 7px;

  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgb(107, 106, 106);
}
.title__login {
  color: rgb(59, 57, 57);
  font-size: 26px;
  font-weight: 500;
}
.paragraph__login {
  font-size: 15px;
  color: rgb(92, 91, 91);
}
.form__email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__email-password {
  font-size: 15px;
  color: rgb(92, 91, 91);
}
.form__input {
  height: 35px;
  border: solid 1px rgb(196, 192, 192);
  border-radius: 4px;
  font-size: 15px;
  padding-left: 5px;
  color: rgb(92, 91, 91);
}
.btn__login {
  height: 40px;
  background-color: #f85555;
  color: white;
  font-weight: 700;
  font-size: 15px;
}
