.aboutMe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutMe__div {
  min-width: 50%;
  padding: 50px 0 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 10% auto 0;
  position: relative;
  background: linear-gradient(0deg,rgb(0, 0, 0),rgb(44,43,43));
}
.planet-background-1 {
  background: radial-gradient(80.36% 80.36% at 18.95% 26.51%, #0e8db4 0.56%, #0e96c7 9.37%, #156a9b 21.1%, #5DA9FF 34.46%, #557ffd 49.03%, #4e48f8 64.42%, #4834fd 68.44%, #4125f8 74.32%, #552EE5 82.82%, #5315C6 92.87%, #5200AB 100%);
  background-size: 150% 150%;
  animation: none; /* Disable the initial rotation animation */
}
.aboutMe__div-glow::before, .aboutMe__div-glow::after{
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate{
0%{
background-position: 0 0;
}
50%{
  background-position: 400% 0;
}
100%{
  background-position: 0 0;
}
}
.aboutMe__div-glow::after{
  filter: blur(40%);
  opacity: 0.99;
}
.aboutMe__skills__container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.aboutMe__skills__img {
  border: ridge 4px #b37fe4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 19px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgb(159, 119, 196);
  width: 120px;
  height: 150px;
  
  
}

.aboutMe__skills-img {
  width: 70px;
}
.aboutMe__h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  color:cyan;
  text-align: center;
}
.aboutMe__h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  color: cyan;
  text-align: center;
}
.aboutMe__skills-h2 {
  color: rgb(170, 90, 245);
  font-weight: 700;
}
