.contact__h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
   
    
    /* Degradado lineal */
   
    
    /* Fallback para navegadores que no soportan background-clip */
    color: cyan;
    text-align: center;
}