.homePage__container{

    
    min-width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
   justify-content: center;
   gap: 40px;
   

   border: solid 2px green;
}
.homePage__title{
    
    color: red;
    font-size: 30px;
  
    min-width: 350px;
    
}
.homePage__container-img{
    
    display: flex;
    justify-content: center;
    
    border: solid 1px red;
    padding: 20px;
}
.homePage__img{
    width: 500px;
    min-width: 300px;
    

}
.homePage__paragraph{
    
    font-weight: 500;
    font-size: 15px;
   
}

.homePage__container-description{
    border: solid 1px yellowgreen;
    text-align: center;
  }
.homePage__container-form{
    display: flex;
    
    justify-content: center;
    border: solid 1px red;
}
.homePage__form{
    
    
   
   display: flex;
   flex-wrap: wrap;

}
.homePage__form-input{
    
    
    min-width: 200px;
    height: 30px;
    box-shadow: 5px 5px 15px gray;
    font-size: 15px;
    
}
.homePage__form-button{
    height: 31px;
    width: 100px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(163, 35, 35);
    color: rgb(250, 247, 247);
    
    
}
.homePage__form-button:hover{
    background-color:  rgb(182, 48, 48);
}

.homePage__footer{
    height: 10%
    
}
.homePage__footer-img{
    width: 100%;
    min-height: 100px;
    border: solid 1px grey;
}