.pokecard{
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
}
.pokecard:hover{
    transform: scale(1.03);

}
.pokecard__header{
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
}
.pokecard__image{
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}
.pokecard__body{
    padding: 3.5em 1em 2em;
}
.pokecard__name{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
}
.pokecard__types{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
}
.pokecard__typename{
    text-transform: capitalize;
}
.pokecard__typename:nth-child(2)::before{
    content: "/";
    padding-right: 0.5em;
}
.pokecard__hr{
    margin-bottom: 1em;
    border: 1px solid #ccc4;
}
.pokecard__stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em 0.2em;
}
.pokecard__stat{
    display: grid;
    gap: 0.5em;
    justify-items: center;
}
.pokecard__stat__name{
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
}
.pokecard__stat__value{
    font-weight: 500;
    font-size: 1rem;
}
.fire-gradient{
    background-color: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.grass-gradient{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);

}
.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.bug-gradient{
    background: linear-gradient(177.56deg, #62DB60 -58.92, #3BB039 16.57%, #AAFFA8 209.53%);
}
.fire-border{
    border-color: #dc3d02;
}
.fire-color{
    color: #ce5f1a;
}