.pokecard{
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
}
.header{
    background-color: #999;
    aspect-ratio: 1.8;
    position: relative;
}
.pokecard__image{
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}